body {
    margin: 0;
    background-color: #21C08B;
    font-family: 'Mulish', sans-serif;
}

.header {
    background-color: #21C08B;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 100px;
    height: 80px;
}

.login {
    background: linear-gradient(#21C08B, #AB88FF);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.login__container {
    background: rgba(255, 255,255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login__container--form {
    display: flex;
    flex-direction: column;
    
}

.login__container--form label {
    font-size: 14px;
}

.login__container--remember {
    color: white;
    display: flex;
    justify-content: space-between;
}

.login__container--remember a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.login__container--remember a:hover {
    text-decoration: underline;
}

.login__container--social-media > div{
display: flex;
align-items: center;
font-size: 14px;
margin-bottom: 10px;
}

.login__container--social-media > div > img{
    width: 30px;
    margin-right: 10px;
}

.login__container--register {
    font-size: 14px;
}

.login__container--registro a {
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.login__container--registro a:hover {
    text-decoration: underline;
}

.input {
    background: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0 20px;
    outline: none;
    height: 50px;

}

::placeholder {
    color: white;
}


.button {
    background: rgba(255, 255,255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0px;
    height: 50px;
    letter-spacing: 2px;
}


.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background: #AB88FF;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}


@media only screen  and (max-width: 600px) {
    .login__container {
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
    }

    .footer {
        align-items: flex-start;
        flex-direction: column;
    }
}

