body {
    margin: 0;
    font-family: 'Mulish', sans-serif;
    background: linear-gradient(#21C08B, #AB88FF);
    scroll-margin: no;
}

.header {
    background-color: #21C08B;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 100px;
    height: 80px;
}

.header__menu {
    margin-right: 40px;
    
}

.header__menu ul {
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -34px;
}

.header__menu:hover ul, ul:hover{
    display: block;
}

.header__menu li {
    margin: 10px 0;
}

.header__menu li a {
    color: white;
    text-decoration: none;
}

.header__menu li a:hover {
    text-decoration: underline;
}


.header__menu--profile {
    margin-right: 8px;
    width: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;

}
.header__menu--profile img {
    width: 20px;
    margin-right: 10px;
}

.header__menu--profile p {
    width: 0;
    color: white;
}

.main {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__title {
    color: white;
    font-size: 30px;
}

.categories__title {
    color: white;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
}

.main__input {
    background-color: rgba(128, 75, 75, 0.2);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
   outline: none;
    
}

::placeholder {
    color: black;
}